<div id="cta">
<p>
    <b>Last Saturday, South Carolina Police Officer Michael Slager viciously killed Black father Walter Scott, fatally shooting him 8 times in the back.</b> In a harrowing video, Officer Slager is also seen planting evidence at the crime scene and violently handcuffing Mr. Scott as he lay dying. On Wednesday state officials charged Officer Slager with murder.
</p>

<p>
    Walter Scott. Tony Robinson. Jessie Hernandez. Morgan Henley. <b>Violent, discriminatory, and corrupt policing targeting Black, brown, LGBTQ, and migrant communities is a national emergency.</b> And while we continue to demand accountability for officers who kill, unjustly arrest and sexually assault those they are meant to serve and protect, Pres. Obama must be held accountable for ending the federal policies and practices that fuel this crisis. 
</p>

<p>
	<b>Will you call the White House today and demand Pres. Obama's immediate executive action to expand and enforce bans on discriminatory policing and mechanisms for holding police accountable?</b>
</p>

</div>