<div id="cta">
<p>
    <b>Ferguson is America. There is a crisis of violent, discriminatory police abuse targeting Black and brown communities and President Obama must be held accountable.</b> Last week, the Department of Justice (DOJ) failed to hold Ferguson Officer Darren Wilson accountable for tragically killing 18-year-old Michael Brown. And while the DOJ found the Ferguson Police Department guilty of widespread racism, it's not enough.
</p>

<p>In the past 4 weeks, at least 4 Black or brown people have been killed or harmed by police:
    <ul>
        <li>2/10/15 — Antonio Zambrano-Montes, 35-years-old, fatally shot 12 times by Pasco police with his hands in the air.
        <li>3/1/15 — Africa, a man living on Skid Row in Los Angeles was fatally shot at least 5 times by Los Angeles police
        <li>3/5/15 — Sergio Navas, unarmed, was fatally shot by Los Angeles police
        <li>3/6/15 – A police officer in Madison, Wisconsin, shot and killed 19 year old, unarmed Tony Robinson.
    </ul>
</p>

<p>
	<b>Right now, President Obama is deciding which of the recommendations from the <em>Task Force on 21st Century Policing</em> will become law.</b> But the reforms now being discussed, while important, will barely scratch the surface of a problem that demands deep, far-reaching transformation. <b>Will you urge your congressional representative to support an comprehensive executive order?</b> If enough people take action we can increase support for executive action among those who influence President Obama the most.
</p>

</div>